{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discover Music</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <header>
        <div class="logo">discovermusic.co</div>
        <nav>
            <ul>
                <li><a href="#">Promoción</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Artistas</a></li>
                <li><a href="#">Formatos</a></li>
                <li><a href="#">Novedades</a></li>
            </ul>
        </nav>
        <div class="icons">
            <span onclick="loginFunc()" class="icon-search">🔍</span>
            
            <a href="{% url 'mainweb:login' %}" class="icon-user">👤</a>

            <span class="icon-cart">🛒</span>
        </div>
    </header>
    <main>
        <div class="filter-section">
            <div class="filters">
                <select>
                    <option>Disponibilidad</option>
                </select>
                <select>
                    <option>Precio</option>
                </select>
            </div>
            <div class="sort">
                <label>Ordenar por:</label>
                <select>
                    <option>Fecha: reciente a antiguo(a)</option>
                </select>
            </div>
        </div>
        <div class="product-list">
            {% for producto in productos %}
            <div class="product-card">
                <div class="labels">
                    <span class="preventa">PREVENTA</span>
                    <span class="exclusivo">EXCLUSIVO</span>
                </div>
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                <h3>{{ producto.nombre }}</h3>
                <p>{{ producto.artista }}</p>
                <p class="price">${{ producto.precio }}</p>
                <button onclick="location.href='{% url 'mainweb:product_detail' producto.id %}'" class="view-product">Ver Producto</button>
            </div>
            {% empty %}
            <p>No hay productos disponibles en este momento.</p>
            {% endfor %}
        </div>
    </main>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
